

body {
	background-color: black;
	color: white;
}

.block-main {
	background-color: grey;
	height: 50px;
	width: 99%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	margin: 7px;
	border: 2px solid white;
}

.p-1 {
	top: 25%;
	left: 65%;
	position: absolute;
}

.p-2 {
	top: 25%;
	left: 87%;
	position: absolute;
}


.p-3 {
top: 25%;
left: 74%;
position: absolute;
}

.title {
	text-align: left;
margin-top: 60px;
}


.block-1 {
	text-align: center;
}

.block-2 {
	text-align: center;
}

.block-10 {
	text-align: center;
}

.block-4 {
	float: right;
}

.block-5 {
	color: yellow;
	display: inline;
}

.block-6 {
	float: left;
	margin-right: 5px;
	margin-top:20px;
}

.block-7 {
	float: right;
	margin-bottom: 10px;
}

