body {
	text-align: center;
	font-family: Arial, sans-serif;
}


.menu {
	background-color: white;
	border: 1px solid black;
	display: inline-block;
	height: 368px;
	margin-top: 91px;
	width: 317px;
margin-left: -13px;
}

input {
	height: 25px;
	width: 244px;
  font-size: 12px;
    padding-left: 15px;
}



.input1 {
	margin-top: 34px;

}

.input2 {
	margin-top: 18px;
}

.input3 {
	margin-top: 18px;
}

p {
	font-size: 11px;
	font-weight: 900;
	margin-left: -146px;
}

.text {
	margin-left: -80px;
}

button {
	margin-top: 33px;
	width: 260px;
	height: 48px;
	background-color: #01bfbf;
	font-size: 16px;
	color: white;
}


.account {
display: inline;
border: 1px solid black;
background-color: #01bfbf;
color: white;
padding-left: 8px;
padding-right: 6px;
padding-bottom: 4px;
padding-top: 5px;
text-transform: uppercase;
font-size: 11px;
margin-left: -109px;
font-weight: 750;
letter-spacing: 0px;
}